Source: com.github.artemanufrij.screencast
Section: x11
Priority: optional
Maintainer: Artem Anufrij <artem.anufrij@live.de>
Build-Depends: debhelper (>= 9),
               gettext,
               libgranite-dev,
               libgstreamer1.0-dev,
               libgstreamer-plugins-bad1.0-dev,
               libwnck-3-dev,
               libappindicator3-dev,
               meson,
               valac (>= 0.26)
Standards-Version: 4.1.1

Package: com.github.artemanufrij.screencast
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Simple screen recorder
 Simple screen recorder, written especially for elementary OS
