[Desktop Entry]
Type=Application
Name=Screencast
Comment=Record screencasts
GenericName=Screencaster
Exec=com.github.artemanufrij.screencast %U
Icon=com.github.artemanufrij.screencast
Terminal=false
Categories=GNOME;GTK;Utility;
X-GNOME-Gettext-Domain=com.github.artemanufrij.screencast
