[Desktop Entry]
Type=Application
Name=Screencast
Comment=Record screencasts
GenericName=Screencaster
Exec=com.github.artemanufrij.screencast %U
Icon=com.github.artemanufrij.screencast
Terminal=false
Categories=GNOME;GTK;Utility;
X-GNOME-Gettext-Domain=com.github.artemanufrij.screencast
Actions=Toggle;Finish;


[Desktop Action Toggle]
Name=Record/Pause
Exec=com.github.artemanufrij.screencast --toggle
Icon=media-record-symbolic

[Desktop Action Finish]
Name=Finish
Exec=com.github.artemanufrij.screencast --finish
Icon=document-save-symbolic