[Desktop Entry]
Type=Application
Name=Screencast
Name[pt_BR]=Screencast
Comment=Record your screen
Comment[pt_BR]=Grave sua tela
GenericName=Screen Recorder
Exec=com.github.artemanufrij.screencast %U
Icon=com.github.artemanufrij.screencast
Terminal=false
Categories=GNOME;GTK;Utility;
X-GNOME-Gettext-Domain=com.github.artemanufrij.screencast
Actions=Toggle;Finish;


[Desktop Action Toggle]
Name=Record/Pause
Name[pt_BR]=Gravar/Pausar
Exec=com.github.artemanufrij.screencast --toggle
Icon=media-record-symbolic

[Desktop Action Finish]
Name=Finish
Name[pt_BR]=Finalizar
Exec=com.github.artemanufrij.screencast --finish
Icon=document-save-symbolic
